{%extends 'layout.html'%}
{%block content%}

<!--Title-->
<div class="row pd-top">
    <h1 class="pd-title">POLE-DANCE CALENDAR</h1>
</div>
<!--End title-->


<div class="row">

    <!--Upcoming events-->
    <div class="col-lg-3 pd-side pd-side-left">
        <div class="pd-site-left-inner">
            <h2>UPCOMING EVENTS</h2>
            <ul class="events">

                {% for event in upcoming_events %}
                <li data-toggle="modal" data-target="#event-details{{event.Id}}" class={{ event.Type }}>
                    <h5>{{ event.StartTime.replace('T',' ') }} {{ event.City }}</h5><h4>{{ event.Name }}</h4>
                    <span class="pd-event-who">{{ event.Organizer }}</span>
                </li>

                {% include "modal.html" %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <!--End upcoming events-->

    <!--Calendar-->
    <div class="col-lg-6">
        <div id='calendar'></div>
    </div>
    <!--End calendar-->

    <!--User events-->
    <div class="col-lg-3 pd-side pd-side-right">
        <div class="pd-site-right-inner">

            <h2>EVENTS</h2>
            <form method="POST">
                <div class="form-check checkbox-warning">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" id="blankCheckbox1" name='eventType' value="1"
                               aria-label="...">championships
                        <i class="fa fa-star pd-championships" aria-hidden="true"></i>
                    </label>
                </div>

                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" id="blankCheckbox2" name='eventType' value="2"
                               aria-label="...">workshops
                        <i class="fa fa-star pd-workshops" aria-hidden="true"></i>
                    </label>
                </div>

                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" id="blankCheckbox3" name='eventType' value="3"
                               aria-label="...">other
                        <i class="fa fa-star pd-others" aria-hidden="true"></i>
                    </label>
                </div>

                <div id="divResult">
                </div>
                <select class="form-control" name="city2">
                    <option selected="selected" name="city">City</option>
                    {% for city in cities %}
                    <option name="city">{{ city.City }}</option>
                    {% endfor %}
                    <option name="city">All cities</option>

                </select>
                <button type="submit" id="submit">Search</button>
            </form>

            <div id="typeAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
            <div id="emptyAlert" class="alert alert-info" role="alert" style="display:none;"></div>
            <div id="cityAlert" class="alert alert-danger" role="alert" style="display:none;"></div>

            <ul class="user-events-list" id="user-events-list">

<!--Todo  When user select type of the event and city and click on the event, modal should appear  -->

            </ul>



        </div>
    </div>
    <!--End user events-->

</div><!--End of row-->

{%endblock%}   
