{%extends 'layout.html'%}
{%block content%}

<!--Title-->
<div class="row pd-top">
    <h1 class="pd-title">POLE-DANCE CALENDAR</h1>
</div>
<!--End title-->


<div class="row">

    <!--Upcoming events-->
    <div class="col-lg-3 pd-side pd-side-left">
        <div class="pd-site-left-inner">
            <h2>UPCOMING EVENTS</h2>
            <ul class="events">

                {%  for event in events %}
                    <li><h5>{{ event.StartTime }} {{ event.City }}</h5><h4>{{ event.Name }}</h4><span class="pd-event-who">{{ event.Organizer }}</span></li>
                 {% endfor %}


            </ul>
        </div>
    </div>
    <!--End upcoming events-->

    <!--Calendar-->
    <div class="col-lg-6">
        <div id='calendar'></div>
    </div>
    <!--End calendar-->

    <!--User events-->
    <div class="col-lg-3 pd-side pd-side-right">
        <div class="pd-site-right-inner">

            <h2>EVENTS</h2>

            <div class="form-check checkbox-warning">
                <label class="form-check-label">
                    <input class="form-check-input " type="checkbox" id="blankCheckbox1" value="championships" aria-label="...">championships
                    <i class="fa fa-star pd-championships" aria-hidden="true"></i>
                </label>
            </div>

            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" id="blankCheckbox2" value="workshops" aria-label="...">workshops
                    <i class="fa fa-star pd-workshops" aria-hidden="true"></i>
                </label>
            </div>

            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" id="blankCheckbox3" value="other" aria-label="...">other
                    <i class="fa fa-star pd-others" aria-hidden="true"></i>
                </label>
            </div>

            <select class="form-control">
                {% for city in cities %}
                <option>{{ city.City }}</option>
                {% endfor %}
            </select>

            <ul class="test">
                <li><h5>11.11.2017r. Radom</h5><h4>Pole dance workshop</h4><span class="pd-event-who"> PINK PUMA</span> </li>
                <li><h5>13.11.2017r. Opole</h5> <h4>Exotic Weekend w Opolu!</h4><span class="pd-event-who"> MAGDA BENG i Kaja Waseńczuk!</span></li>

            </ul>
        </div>
    </div>
    <!--End user events-->  

</div><!--End of row-->

{%endblock%}   
