<!-- Modal -->

<div class="modal fade bd-example-modal-lg" id="event-details{{event.Id}}" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" xmlns="http://www.w3.org/1999/html">

    {{"decoupled-map"|googlemap_js(event.Latitude, event.Longitude, markers=[(event.Latitude, event.Longitude)])}}

    <script>

   $("div[id^='event-details']").on("shown.bs.modal", function(e){
        var currCenter = map.getCenter();
        google.maps.event.trigger(map, "resize");
        map.setZoom(17);
    });

    </script>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header {{ event.Type }}">
                <div class="row col-lg-12">
                    <div class="col-lg-4 title">
                        <!--Here I added a sample image. If I have enough time I will try to display images from fb API -->
                        <img src="{{ url_for('static', filename='images/r3.svg') }}">
                    </div>
                    <div class="col-lg-8">
                        <h5 class="modal-title mr-2" id="exampleModalLabel">{{ event.Type }}</h5></div>

                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <div><h2 class="mb-4">{{ event.Name }}</h2></div>
                <div><h4 class="mb-4 ml-4 modal-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{
                    event.StartTime.replace('T',' ') }} {{ event.Organizer }}</h4></div>

                <div>{% autoescape false %}<p class="modal-description ml-4 mr-4">

                    {{ event.Description | replace('\n', '</br>')}}

                </p>{% endautoescape %}</div>
            </br>
                <div><p class="modal-organizer ml-4 mr-4">{{ event.Organizer }}</p>
                    <p class="modal-address ml-4 mr-4"><img
                            src="{{ url_for('static', filename='icons/map-location.svg') }}" class="location-icon"
                            aria-hidden="true">
                        <span class="address">  {{ event.AddressLine1 }} </br>    {{ event.City }} {{ event.AddressLine2 }}
                        {{"decoupled-map"|googlemap_html(event.Latitude, event.Longitude) }}</span></p></div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
